@charset 'UTF-8';

body {
    background-color: #034c7c;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 10px #0000007a;
    padding: 30px;
}
section {
    background-color: #ffffff4d;
    border-radius: 30px;
    padding: 15px;
    width: 70vw;
    margin: auto;
    box-shadow: 5px 5px 10px #0000003f;
    text-shadow: 1px 1px 10px #0000007a;
    font-size: 1.1em;
}
div {
    text-align: center;
    padding: 6px;
}
footer {
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 10px #0000007a;
    font-style: italic;
}
img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 10px #0000007a;
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }
  a:hover {
    color: #000000;
    text-shadow: 2px 2px 3px #ffffffde;
    font-weight: bolder;
  }